*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}


button{
    background: none;
    border: none;
    padding: 0;
    font-family: arial, sans-serif;
    color: #039be5;
    cursor: pointer;
}

button:focus{
    background: none;
    border: none;
}

.repo{
    max-width: 350px;
    margin: 5px;
}

.card-content{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);  ;



}
 
#name{
    font-size: 20px;
    grid-column: span 3 / 3;

}

#forks{
    margin: auto;

}

.fork-code{
    background-color: black;
    color: white;
    margin-bottom: 1rem;
}



